.cabecalho{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	width: 20%;
}

nav {
	position: absolute;
	top: 90px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #013369;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #10252C;
}

.background-inicial {
	padding: 3em 4em;
	width: auto;
	/*margin: 0 auto;*/
	background: linear-gradient(#A5ACAF, #FFFFFF);
}

footer {
	text-align: center;
	background: #013369;
	padding: 40px 0;
}

.logo-footer {
	width: 15%;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}

footer a, footer p{
	margin: 10px;
	padding: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

footer a:hover{
	color: #A5ACAF;
}